.about-us {
	padding: 5rem 0;


		& .table-row {
			display: table-row;

		}

		& .table-cell {
			display: table-cell;
			float: none;
			vertical-align: middle;
		}

	& .about-head {
		line-height: 1.5;
		font-weight: 400;
		font-size: 30px;
		text-align: right;
		padding-right: 40px;

		& span {
			font-style: italic;
		}
	}

	& .about-text {

		& h3 {
			color: white;
			font-family: 'Open Sans', sans-serif;
			line-height: 1.5;
			font-weight: 400;
		}

		& p {
			line-height: 1.5;
		}
	}
}