%heading-contact {
	margin: 60px 0 40px;
	color: #252640;
	letter-spacing: 1px;
}

.contacts {
	background: #252640;

	& .leftside {
		text-align: center;
		position: relative;
		background: white;

		&:after {
			content: 'OR';
			color: #252640;
			font-size: 20px;
			font-family: $open-sans;
			display: block;
			position: absolute;
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			top: 50%;
			right: 0;
			-webkit-transform: translate(50%, -50%);
			-ms-transform: translate(50%, -50%);
			transform: translate(50%, -50%);
			background: #ffb621;
			border-radius: 50%;
		}

		& .heading-contact {
			@extend %heading-contact;
		}

		& .phones {
			list-style: none;
			padding: 0;
			margin: 0;
			width: 50%;
			margin: 0 auto;
			font-size: 25px;
			line-height: 2;
			font-family: $open-sans;
			letter-spacing: 1.5px;
			font-weight: 300;
			color: #ffb621;
			position: relative;

			& .phone-number {

				&:first-child:before {
					content: $trio-phone;
					font-family: 'triomics-ico';
					position: absolute;
					left: -50px;
					font-size: 70px;
					top: 50%;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
				}
			}
		}

		& .email {
			font-size: 35px;
			margin: 30px 0;

			& .email-link {
				font-family: $open-sans;
				font-weight: 300;
				color: #ffb621;

				&:hover {
					color: #252640;
				}
			}
		}
		
		// & .sub-heading {

		// }

		& .social-contacts {
			list-style: none;
			margin: 0;
			padding: 0;
			padding: 30px 0 60px;
			width: 75%;
			margin: 0 auto;
			display: table;

			& .soc-item {
				display: table-cell;
				text-align: center;
				width: 33%;
				font-size: 40px;
				a {
					color: #ffb621;

					&:hover {
						color: #252640;
					}
				}
			}
		}
	}

	& .rightside {
		text-align: center;
		
		& .heading-contact {
			@extend %heading-contact;
			color: #ffb621;
			margin-bottom: 110px;
		}

		& .wrapper-button {
		}

		.show-smth {
			font-size: 16px;
			padding: 0 0 0 5px;
		}
	}
}