.header-info {
	& .accent-redirect {
		color: #ffb621;
		font-weight: $font-b;

		&:hover {
			color: #252640;
		}
	}

	& h1 {
		letter-spacing: 1px;
		font-weight: $font-n;
	}
}

header {

	& #particles-js {
		position: absolute;
		width: 100%;
		height: 100%;
		// z-index: 9999;
	}

	& .social-container {
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		bottom: 50px;
		right: 70px;

		@media screen and (max-width: 767px) {
			right: 50%;
			-webkit-transform: translateX(50%);
			-ms-transform: translateX(50%);
			transform: translateX(50%);
		}

		@media (max-width: 340px) { 
			bottom: 20px;
		}

		& .soc-item {
		 display: inline-block;
		 margin-right: 15px;
		 @media screen and (max-width: 767px) {
		 	margin: 0 15px;
		 }

			& a {
				font-size: 20px;
				color: white;

				&:hover {
					color: #ffb621;
				}
			}
		}
	}
}

.navbar-nav.navbar-right {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

	@media screen and (max-width: 767px) {
		position: initial;
		top: 0;
		right: 0;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
		margin: 30px 0;
	}

	& li a {
		@media screen and (max-width: 767px) {
			padding: 10px 0;
			text-align: center;
		}
	}
}

#homepage div.morph-button > button {
	line-height: 60px;

	&:hover {
		background-color: $accent;
		color: $bg;
		transition: background .3s, color .3s;
	}
}

#homepage .morph-button-fixed {
	height: 60px;
	width: 225px;
}

#homepage .morph-button.morph-button-modal-2, 
#homepage .morph-button.morph-button-modal-3 {
	margin-top: 0;
}

.vertical-center {
	top: 15vh;
}