$icomoon-font-path: "../fonts/trio" !default;

$trio-close-btn: "\e90b";
$trio-mail: "\e900";
$trio-phone: "\e901";
$trio-code2: "\e90c";
$trio-design: "\e90d";
$trio-marketing1: "\e90e";
$trio-seo1: "\e90f";
$trio-code: "\e906";
$trio-design1: "\e907";
$trio-design2: "\e908";
$trio-marketing: "\e909";
$trio-seo: "\e90a";

@font-face {
    font-family: 'triomics-ico';
    src:    url('#{$icomoon-font-path}/triomics-ico.eot?zd05a7');
    src:    url('#{$icomoon-font-path}/triomics-ico.eot?zd05a7#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/triomics-ico.ttf?zd05a7') format('truetype'),
        url('#{$icomoon-font-path}/triomics-ico.woff?zd05a7') format('woff'),
        url('#{$icomoon-font-path}/triomics-ico.svg?zd05a7#triomics-ico') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="trio-"], [class*=" trio-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'triomics-ico' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.trio-close-btn {
    &:before {
        content: $trio-close-btn;
        font-family: 'triomics-ico' !important;
    }
}
.trio-mail {
    &:before {
        content: $trio-mail;
    }
}
.trio-phone {
    &:before {
        content: $trio-phone;
    }
}
.trio-code2 {
    &:before {
        content: $trio-code2;
    }
}
.trio-design {
    &:before {
        content: $trio-design;
    }
}
.trio-marketing1 {
    &:before {
        content: $trio-marketing1;
    }
}
.trio-seo1 {
    &:before {
        content: $trio-seo1;
    }
}
.trio-code {
    &:before {
        content: $trio-code;
    }
}
.trio-design1 {
    &:before {
        content: $trio-design1;
    }
}
.trio-design2 {
    &:before {
        content: $trio-design2;
    }
}
.trio-marketing {
    &:before {
        content: $trio-marketing;
    }
}
.trio-seo {
    &:before {
        content: $trio-seo;
    }
}