$icomoon-font-path: "../fonts/trio" !default;

$trio-3: "\e910";
$trio-p: "\e902";
$trio-s: "\e903";
$trio-1: "\e904";
$trio-2: "\e905";
$trio-4: "\e918";
$trio-5: "\e919";
$trio-g: "\e91a";
$trio-close-btn: "\e90b";
$trio-mail: "\e900";
$trio-phone: "\e901";
$trio-code2: "\e90c";
$trio-design: "\e90d";
$trio-marketing1: "\e90e";
$trio-seo1: "\e90f";
$trio-code: "\e906";
$trio-design1: "\e907";
$trio-design2: "\e908";
$trio-marketing: "\e909";
$trio-seo: "\e90a";

@font-face {
    font-family: 'triomics-ico';
    src:    url('#{$icomoon-font-path}/triomics-ico.eot?smr5v0');
    src:    url('#{$icomoon-font-path}/triomics-ico.eot?smr5v0#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/triomics-ico.ttf?smr5v0') format('truetype'),
        url('#{$icomoon-font-path}/triomics-ico.woff?smr5v0') format('woff'),
        url('#{$icomoon-font-path}/triomics-ico.svg?smr5v0#triomics-ico') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="trio-"], [class*=" trio-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'triomics-ico' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.trio-3 {
    &:before {
        content: $trio-3;
    }
}
.trio-p {
    &:before {
        content: $trio-p;
    }
}
.trio-s {
    &:before {
        content: $trio-s;
    }
}
.trio-1 {
    &:before {
        content: $trio-1;
    }
}
.trio-2 {
    &:before {
        content: $trio-2;
    }
}
.trio-4 {
    &:before {
        content: $trio-4;
    }
}
.trio-5 {
    &:before {
        content: $trio-5;
    }
}
.trio-g {
    &:before {
        content: $trio-g;
    }
}
.trio-close-btn {
    &:before {
        content: $trio-close-btn;
    }
}
.trio-mail {
    &:before {
        content: $trio-mail;
    }
}
.trio-phone {
    &:before {
        content: $trio-phone;
    }
}
.trio-code2 {
    &:before {
        content: $trio-code2;
    }
}
.trio-design {
    &:before {
        content: $trio-design;
    }
}
.trio-marketing1 {
    &:before {
        content: $trio-marketing1;
    }
}
.trio-seo1 {
    &:before {
        content: $trio-seo1;
    }
}
.trio-code {
    &:before {
        content: $trio-code;
    }
}
.trio-design1 {
    &:before {
        content: $trio-design1;
    }
}
.trio-design2 {
    &:before {
        content: $trio-design2;
    }
}
.trio-marketing {
    &:before {
        content: $trio-marketing;
    }
}
.trio-seo {
    &:before {
        content: $trio-seo;
    }
}